body{
    text-align: center;
    color: aliceblue;
    vertical-align: middle;
    background-image: url(../images/stars_background.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-top: 10%;
}

img{
    width: 100px;
    height: 100px;
}